[Desktop Entry]
Version=1.0 BETA
Type=Application
Name=Scidb
Comment=Scidb is a Chess Database Application
GenericName[de]=Chess Database (beta version)
GenericName[en]=Schachdatenbank (Beta-Version)
#GenericName[es]=<spanish>
#GenericName[hu]=<hungarian>
#GenericName[it]=<italian>
#GenericName[sv]=<svedish>
GenericName=Chess Database (beta version)
Exec=scidb-beta %F
Path=
Icon=scidb
Categories=Game;BoardGame;
MimeType=application/x-chess-scidb;application/x-chess-archive;application/x-chess-scid4;application/x-chess-scid3;application/x-chess-chessbase;application/x-chess-chessbasedos;application/x-chess-pgn;application/x-chess-gzpgn;
Terminal=false
TerminalOptions=
Type=Application
StartupNotify=false
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
