/*********** GLOBAL CSS STYLES **********/

html {
  background-color: #b8d2e2;
}

body {
  margin:      0;
  padding:     0;
  font-family: Verdana, Arial, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size:   14px;
}

h1 {
  color:     #000000;
  font-size: 180%;
}

h2 {
  color:     #000000;
  font-size: 160%;
}

h3 {
  color:     #000000;
  font-size: 140%;
}

h4 {
  color:     #000000;
  font-size: 120%;
}

h5 {
  color:     #000000;
  font-size: 110%;
}

/* applies to all images in content area of any page */
.imagestyle {
  border: 0;
}

img {
}

a img {
  border: 0;
}

b, strong {
  font-weight: bold;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a[href^="http://"] {
  background: url(../images/external-link.png) center right no-repeat;
  padding-right: 15px;
}

p {
}

/* Correct Firefox/Mozilla/Safari inability to properly clear a float
 * - see: www.positioniseverything.net/easyclearing.html. Ignores IE6
 */
.clearfix:after {
  content:    ".";
  display:    block;
  height:     0;
  clear:      both;
  visibility: hidden;
}

/* SITE WRAPPER */

#wrapper {
  position:   relative;
  width:      851px;
  margin:     18px auto;
  text-align: left;
}

/* SITE HEADER */

#logo {
  position:   absolute;
  background: transparent url('../images/header-radius-8.png');
  top:        0;
  left:       0;
  width:      871px;
  height:     200px;
  z-index:    1;
}

#logo img {
  position: absolute;
  top:      0;
  left:     0;
  width:    871px;
  height:   200px;
}

#header {
  position: relative;
  margin:   0;
  height:   180px;
  z-index:  2000;
}

/* SIDEBAR */

#sidebar {
  float:          right;
  width:          231px;
  margin-top:     0;
  margin-bottom:  15px;
  padding-top:    15px;
  padding-bottom: 15px;
}

#sidebar ul.body {
  margin:           0;
  padding:          10px 10px 10px 10px;
  list-style-type:  none;
  text-align:       center;
  background-color: #e4eaee;
}

#sidebar ul.header {
  margin:     0;
  padding:    1px 5px 5px 5px;
  list-style: none;
  font-size:  120%;
  text-align: center;
  color:      #ffffff;
}

#sidebar li.tiny-notes {
  font-size: 80%;
}

#sidebar #google_translate_element {
  padding-left:  15px;
  padding-right: 15px;
}

#sidebar a.validate {
  display: block;
  margin:  5px 0;
}

#sidebar a.validate img {
  border: 0;
}

#sidebar div.block {
  background-color: #437597;
  margin-top:       15px;
  margin-bottom:    15px;
  overflow:         hidden;

  -moz-border-radius:     9px; /* Firefox 3.6 */
  -webkit-border-radius:  9px; /* Safari 4 */
  -khtml-border-radius:   9px; /* Konquerer */
  border-radius:          9px; /* Opera 10.5, IE 9, Safari 5, Chrome 4, Firefox 4 */

  -moz-box-shadow:    6px 6px 6px #383838; /* Firefox 3.5 */
  -webkit-box-shadow: 6px 6px 6px #383838; /* Safari 4, Chrome 4 */
  -khtml-box-shadow:  6px 6px 6px #383838; /* Konquerer */
  box-shadow:         6px 6px 6px #383838; /* Opera 10.5, IE 9, Firefox 4, Chrome 6 */
}

/* CONTENT */

#contentarea {
  float:         left;
  width:         598px;
  margin-top:    10px;
  margin-bottom: 0;
  padding:       0 20px 5px 0;
  line-height:   1.5;
/*text-align:    justify; */ /* Blocksatz */
}

#contentarea div.header {
  font-size:    125%;
  font-weight:  bold;
  padding-top:  10px;
}

#contentarea hr {
  border:         0; /* For Firefox and Opera */
  border-top:     solid 1px #437597;
  border-bottom:  transparent; /* For IE */
}

#contentarea div.block {
  background-color: #f5fbff;
  border-top:       1px solid #437597;
  border-bottom:    1px solid #437597;
  border-left:      1px solid #437597;
  border-right:     1px solid #437597;
  margin-top:       15px;
  margin-bottom:    15px;
  padding-left:     15px;
  padding-right:    15px;
  overflow:         hidden;    /* should help in case of overflow problems */

  -moz-border-radius:     9px; /* Firefox 3.6 */
  -webkit-border-radius:  9px; /* Safari 4 */
  -khtml-border-radius:   9px; /* Konquerer */
  border-radius:          9px; /* Opera 10.5, IE 9, Safari 5, Chrome 4, Firefox 4 */
}

#contentarea div.footer {
  padding: 10px;
}

#contentarea dir li {
  margin-top: 0.5em;
}

#contentarea ul li {
  margin-top: 0;
}

/* MENU */

#menu {
  color:      #ffffff;
  text-align: right;
  margin-top: 15px;
}

#menu .menu {
  margin-bottom:  10px;
  line-height:    1.3;
  padding-bottom: 5px;

  -moz-box-shadow:    6px 6px 6px #383838; /* Firefox 3.5 */
  -webkit-box-shadow: 6px 6px 6px #383838; /* Safari 4, Chrome 4 */
  -khtml-box-shadow:  6px 6px 6px #383838; /* Konquerer */
  box-shadow:         6px 6px 6px #383838; /* Opera 10.5, IE 9, Firefox 4, Chrome 6 */

  -moz-border-radius:     9px; /* Firefox 3.6 */
  -webkit-border-radius:  9px; /* Safari 4 */
  -khtml-border-radius:   9px; /* Konquerer */
  border-radius:          9px; /* Opera 10.5, IE 9, Safari 5, Chrome 4, Firefox 4 */
}

#menu #guide {
  margin:       7px 0 10px;
  padding:      0.5em 1.8em 0.5em 0;
  background:   #437597;
  font-weight:  bold;
  font-size:    110%;
  font-family:  "Lucida Grande", Arial, Verdana, Helvetica, sans-serif;
}

#menu .primary a:link, .primary a:visited {
  color:            #ffffff;
  text-decoration:  none;
}

#menu .primary a:active {
  color: #000000;
}

#menu .primary a:hover {
  color: #ffff00;
}

#menu .secondary a:link, .secondary a:visited {
  color:            #d9d9d9;
  text-decoration:  none;
}

#menu .secondary a:active {
  color: #000000;
}

#menu .secondary a:hover {
  color: #ffff00;
}

.menu p {
  margin: 1.2em 5px 1.2em 0;
}

#guide ul {
  list-style-type:  none;
  text-align:       right;
  padding-right:    0;
}

#guide li {
  text-align:  right;
  text-indent: -0.25em;
  line-height: 1.4em;
  direction:   rtl;
}

#guide li.primary {
  margin-top:       0.6em;
  list-style-type:  none;
}

#guide li.secondary {
  list-style-type: disc;
}

#guide li a:hover {
  -moz-transform:     scale(1.05);      /* Firefox 9 */
  -webkit-transform:  scale(1.05);      /* Safari, Chrome */
  -o-transform:       scale(1.05,1.05); /* Opera */
  -ms-transform:      scale(1.05);      /* IE 9 */
  transform:          scale(1.05);      /* Future browsers */
}

/* FOOTER */

#footer {
  margin:     0;
  padding:    10px 25px 5px 25px;
  clear:      both;
  border-top: 1px solid #437597;
  text-align: center;
}

#footer a {
  color: #437597;
}

#footer ul {
  margin:     0;
  padding:    0;
  list-style: none;
  width:      100%;
  text-align: center;
}

#footer li {
  display: inline;
}

/* BOX */

div.box {
  color:      #000000;
  background: #f4f4f4;
  border:     1px solid black;
  margin:     1em 1em 1em 1em;
  padding:    0em 1em 0em 1em;

  -moz-border-radius:     9px; /* Firefox 3.6 */
  -webkit-border-radius:  9px; /* Safari 4 */
  -khtml-border-radius:   9px; /* Konquerer */
  border-radius:          9px; /* Opera 10.5, IE 9, Safari 5, Chrome 4, Firefox 4 */
}

/* PRELOADING IMAGES */

.preload {
  width:      0px;
  height:     0px;
  visibility: hidden;
}

/* vi:set ts=2 sw=2 et: */
